* {
    box-sizing: border-box;
}

:root {
    --primary-color: #1ebfc1;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

body {
    font-size: 1.6rem;
}

/* ================= COMMON ================= */

.main-content {
    width: 1170px;
    max-width: calc(100% - 24px);
    margin-left: auto;
    margin-right: auto;
}
.heading {
    color: #0d1111;
    font-weight: 700;
}

.lv1 {
    margin-top: 18px;
    min-width: 78%;
    font-size: 6.2rem;
    line-height: 1.16;
}

.lv2 {
    margin: 18px 0;
    font-size: 4.2rem;
    line-height: 1.33;
    width: 577px;
}

.lv3 {
    margin-top: 26px;
    font-size: 2rem;
    font-weight: 600;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 186px;
    padding: 0 12px;
    line-height: normal;
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
    color: #fff;
    border-radius: 14px;
    background-color: var(--primary-color);
}

/* Header */
.header {
    padding: 52px 0 0;
}

.header.fixed {
    background: #fff;
    z-index: 1;
    position: sticky;
    top: -44px;
}
.header .main-content {
    position: sticky;
    top: 0;
}

.header .body {
    display: flex;
    align-items: center;
}

.header .action {
    display: flex;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    padding: 8px 20px;
    font-size: 1.6rem;
    color: #2f3a3b;
}

.nav a:hover,
.nav li.active a {
    color: #2f3a3b;

    text-shadow: 1px 0 0 currentColor;
}

.header .action {
    margin-left: 157px;
    display: flex;
    align-items: center;
    padding-bottom: 8px;
}

.action .sign-in-act {
    padding: 8px 12px;
    color: #494949;
    font-size: 1.6rem;
}

.action .sign-up-btn {
    margin-left: 12px;
    min-width: 108px;
    background: #fff;
    line-height: 48px;
    color: var(--primary-color);
    border-radius: 6px;
    border: 1px solid #1ebfc1;
}

/* ================= HERO ================= */

.hero {
    margin-top: 50px;
    display: flex;
}

.hero .content-block {
    margin-top: 93px;
    width: 50%;
}

.content-block .greeting {
    color: #767e7e;
    font-size: 1.4rem;
    font-weight: 400;
}

.content-block .desc {
    margin-top: 46px;
    width: 374px;
    color: #9da6a5;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78;
    text-align: left;
}

.content-block .cta-group {
    margin-top: 52px;
    display: flex;
    align-items: center;
}

.cta-group .start-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 600;
    width: 186px;
    height: 68px;
    border-radius: 14px;
    background: #1ebfc1;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

.cta-group .icon {
    position: relative;
    margin-left: 50px;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: 1px solid #fff;
    overflow: hidden;
}

.cta-group .img {
    position: absolute;
    top: -29px;
    left: -48px;
}

.hero .media-block {
    position: relative;
    width: 50%;
}

.hero .media-block .img {
    width: 576px;
    height: 631px;
    object-fit: cover;
    background: #e0f7f6;
}

.media-block .card-courses {
    position: absolute;
    top: 149px;
    left: -40px;
    width: 157px;
    height: 75px;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.media-block .card-content {
    display: flex;
    padding: 17px 25px;
    align-items: center;
}

.card-content .book {
    margin-right: 16px;
}

.card-content .book-group {
    position: relative;
}

.card-content .book-group .book-row {
    position: absolute;
    top: 28px;
    left: 4px;
}

.book-group .ads-course {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
}

.media-block .bo-card {
    position: absolute;
    left: -65px;
    top: 453px;
    width: 124px;
    height: 132px;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.bo-card .bo-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 16px 23px;
}

.bo-card .ads-schedule {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 auto;
}

.bo-card .r-card {
    margin-top: 16px;
    width: 74px;
    height: 62px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.r-card .rows {
    width: 74px;
    height: 6px;
}

.r-card .r2 {
    margin-top: 12px;
}

.r-card .r3 {
    margin-top: 10px;
}

.r-card .r4 {
    margin-top: 16px;
}

.media-block .active-student-card {
    position: absolute;
    width: 207px;
    height: 90px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
    right: 45px;
    bottom: 41px;
}

.active-student-card .a1 {
    margin-top: 17px;
    margin-left: 35px;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.active-student-card .student-group {
    display: flex;
    position: relative;
    width: 137px;
    margin-top: 8px;
    margin-left: 49px;
}

.active-student-card .std-group,
.active-student-card .std-group .img {
    width: 33px;
    height: 33px;
    border-radius: 33px;
    margin-left: -7px;
}

.active-student-card .st-gr {
    position: absolute;
    right: 14px;
    background-color: #1ebfc1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active-student-card .std-group .s5 {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    margin: auto;
}

/* ================= FEATURES ================= */
.features {
    margin-top: 79px;
    padding-top: 130px;
}

.content-inside {
    display: flex;
    flex-direction: column;
    margin-right: 146px;
    width: 1024px;
    height: 559px;
}

.courses .sub-title,
.features .sub-title {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}

.features .content-inside .ft-desc {
    width: 590px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
}

.features .list-item {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.features .list-item .image {
    width: 102px;
    height: 106px;
}

.features .item .desc {
    margin-top: 16px;
    color: #9da6a5;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.69;
}

.features .item .i1 {
    width: 168px;
}

.features .item .i2 {
    width: 223px;
}

.features .item .i3 {
    width: 224px;
}

/* ================= COURSES ================= */
.courses {
    margin-top: 130px;
}

.courses .heading {
    font-weight: 700;
}

.courses .view-courses {
    margin-top: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses .view-courses .desc {
    width: 525px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78;
}

.courses .view-courses .course-click {
    color: #1ebfc1;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration-line: underline;
}

.courses .list-item {
    margin-top: 79px;
    display: flex;
    gap: 47px;
}
.courses .list-item .item {
    position: relative;
}

.courses .item .image {
    max-width: 100%;
    width: 359px;
    height: 393px;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0.8;
    background: #d0efed;
}

.courses .item .card-info {
    display: inline-block;
    position: absolute;
    width: 325px;
    height: 195px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
    bottom: -124px;
    left: 17px;
}

.courses .card-info .card-content {
    margin: 18px 0 29px 25px;
}

.courses .card-info .lv3 {
    margin-top: 0;
    font-size: 2.2rem;
    font-weight: 700;
}

.courses .card-info .fee {
    height: 33px;
    margin-top: 16px;
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
}

.courses .card-info .bold-value {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.courses .card-info .desc {
    margin-top: 6px;
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
}

.courses .info-course {
    display: flex;
    margin-top: 18px;
    align-items: center;
}

.courses .info-course .class-number,
.courses .info-course .times {
    display: flex;
    align-items: center;
    margin-right: 10px;
    gap: 10px;
    height: 21px;
}

.courses .info-course .val {
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
}

/* ================= ADS ================= */
.ads {
    margin-top: 256px;
}
.ads .main-content {
    display: flex;
    width: 862px;
    height: 131px;
    justify-content: space-between;
    align-items: center;
}

.ads .val {
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
}

.ads .desc {
    margin-top: 11px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
}

/* ================= QUOTE ================= */

.quote {
    margin-top: 264px;
}

.quote .main-content {
    position: relative;
}

.quote .icon {
    margin-top: 37px;
    width: 36px;
    height: 29px;
}

.quote .desc {
    margin-top: 27px;
    width: 419px;
    color: #5d6564;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.5;
}

.quote .author-name {
    position: relative;
    margin-left: 13px;
    margin-top: 33px;
    height: 24px;
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
}

.quote .author-name .name {
    color: #070707;
    font-size: 1.6rem;
    font-weight: 500;
}

.quote .author-name::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 2px;
    background: #070707;
    left: -13px;
    top: 7px;
}

.quote .cta-group {
    margin-top: 52px;
    display: block;
}

.quote .people {
    position: absolute;
    object-fit: cover;
}

.quote .pp1 {
    top: 0;
    left: 635px;
    width: 92px;
    height: 92px;
    border-radius: 92px;
    background: #2ac9bf;
}

.quote .pp2 {
    right: 0;
    top: 19px;
    width: 110px;
    height: 110px;
    border-radius: 110px;
    background: #bd68b5;
}

.quote .pp3 {
    top: 107px;
    left: 764px;
    width: 235px;
    height: 235px;
    border-radius: 235px;
    background: #d55e5e;
}

.quote .pp4 {
    top: 258px;
    left: 491px;
    width: 78px;
    height: 78px;
    border-radius: 78px;
    background: #db972f;
}

.quote .pp5 {
    right: 32px;
    bottom: 29px;
    width: 78px;
    height: 78px;
    border-radius: 78px;
    background: #8fe9b3;
}

.quote .pp6 {
    right: 389px;
    bottom: 0px;
    width: 78px;
    height: 78px;
    border-radius: 78px;
    background: #e9a78f;
}
